[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytorch-lightning = "==1.2.0"
ipython = "*"
torchmetrics = "*"
pytorch-transformers = "*"
jupyter = "*"
pandas = "*"
scikit-learn = "*"
streamlit = "*"
st-annotated-text = "*"
optuna = "*"
spacy = "*"
networkx = "*"
torch-geometric = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.9"
