networkx==2.8.6
pandas==1.4.3
pytorch-lightning==1.7.6
pytorch-transformers==1.2.0
torch==1.12.1
torchmetrics==0.9.3
transformers==4.22.0
transformers-interpret
spacy==3.4.1
st-annotated-text==3.0.0
streamlit==1.12.2